* {
    margin: 0;
    padding: 0;
}

.logo {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 1%;

}

.logo img {
    width: 3rem;
    border: 0.1rem solid whitesmoke;
    border-radius: 50%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;

}

.nav-list {
    width: 70%;
    /*background-color: rgb(58, 56, 56);*/
    display: flex;
    padding: 0% 10%;
    align-items: center;


}

.nav-list li {
    list-style: none;
    padding: 1% 5%;


    /*border: 2px solid #7a7979;*/

}

.nav-list li a {
    text-decoration: none;
    color: white;


}

.nav-list li a:hover {
    text-decoration: none;
    color: rgb(1, 166, 255);


}

.rightNav {
    /*background-color: rgb(37, 39, 39) ;*/
    width: 30%;
    text-align: right;
    padding: 0% 1%;
}

#search {
    padding: 1%;
    font-size: 70%;
    border: 0.15rem solid gray;
    border-radius: 0.8rem;
}

.bg-navbar {
    background-color: rgb(33, 32, 32);
}

.background {
    background: rgba(0, 0, 0, 0.7) url('/Images/best.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    max-width: 60%;
    margin: auto;
    height: 70%;
}

.firstSection {
    height: 60vh;
}

.fhalf {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.shalf img {
    padding: 1% 1%;
    ;
    border: 0.1rem solid #cca467;
    width: 40%;
    display: block;
    margin: auto;
}





.btn {
    font-size: 1rem;
    border-radius: 3rem;
    padding: 0% 2%;
    margin: 1% 2%;
    border: 0.2rem solid #005fd5;
    cursor: pointer;
    background-color: #005fd5;
    color: #f5f5f5;

    /*
    background:none;
    color:white;
    Makes the transparent button with white font;
    cursor->change mouse pinter
    */
}

.btn:hover {
    background-color: #034494;
}

.btn-sm {
    padding: 0.5% 1%;
    vertical-align: middle;
    font-size: 70%;
}

.section {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 70%;
    margin: auto;
    padding: 2% 0%;

}


.parag {

    width: 80%;
}

.big-text {
    font-size: 2rem;

}

.parag a {
    text-decoration: none;
}

.left-section {
    flex-direction: row-reverse;
}

.thumbnail {
    width: 20%;
    padding: 0% 1%;
}

.thumbnail img {
    padding: 1% 1%;
    border: 0.5rem solid deeppink;
    margin: auto;
    display: block;
    width: 100%;
}

.btech {
    font-size: 4rem;
    padding: 1% 1%;
    border: 0.5rem solid deeppink;
    margin: auto;
    display: block;
    width: 100%;
}

.contact {
    background-color: #f5f5f5;
    height: 80vh;

}

.text-center {
    text-align: center;
    padding: 10px auto;
}

.form {
    max-width: 375px;
    margin: 25px auto;

}

.input-form {
    padding: 5px 4px;
    width: 100%;
    border: 2px solid black;
    font-size: 16px;
    margin: 10px 0px;
    border-radius: 7px;
    font-family: 'Times New Roman', Times, serif;

}

.contactform {
    padding: 4px 0px;
}

.text-footer {
    text-align: center;
    padding: 20px 0px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
}

.linktag {
    text-decoration: none;
    color: black;
}




* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 70%;

    margin: auto;
    
}

/* Hide the images by default */
.mySlides {
    display: none;
    background: rgb(0 126 255 / 84%);
    border-radius: 1rem;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;

    width: auto;

    padding: 1% 0%;
    color: rgb(253, 6, 6);
    font-weight: bold;
    font-size: 2rem;
    transition: 0.6s ease;

    user-select: none;

}

.change-arrow {
    display: flex;
    justify-content: space-between;
}

/* Position the "next button" to the right */


/* On hover, add a black background color with a little bit see-through 
.prev:hover,
.next:hover {
    background-color: rgba(158, 152, 152, 0.8);
}*/

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 1rem;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 0.8rem;
    padding: 1% 5%;

    display: flex;
    flex-direction: row-reverse;

}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    margin: 0% 0.5%;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.topper-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fhalftopper {
    padding: 1% 0% 1% 7%;
    display: flex;
    justify-content: flex-start;
    width: 35%;
}

.fhalftopper img {
    padding: 1%;
    display: flex;
    width: 50%;

}

.shalftopper {

    align-items: center;
    width: 60%;
}


.part1{
    font-size: smaller;
    padding: 1rem 2rem;
    margin: 1rem;
    
}
.sectionp{
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    max-width: 70%;
    margin: auto;
    
}
.parag12{
    display: flex;
    flex-wrap: wrap;
}
.part1 div ul li a{
    text-decoration: none;
}

<<<<<<< HEAD
.partA{
    /* hj */
}
=======

>>>>>>> 4c66183 (j)

.piece h2{
    font-size: 1.5rem;
}
@media  (min-width: 1053px){
    .parag12{
        display: flex;
        flex-wrap: nowrap;
}
}
.part1{
    box-shadow: 0 0.5rem 1.5rem rgba(199, 206, 202, 0.923) !important;
    border-radius: 0.5rem;
}
.burger{
    display: none;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.line{
    width: 1.5rem;
    background-color: #f5f5f5;
    height: 0.2rem;
    margin: 15% 0%;
}
@media only screen and (max-width:830px) {
    .navbar {
        flex-direction: column;
        height: 230px;
        transition: all 0.7s ease;
    }

    .nav-list {
        flex-direction: column;
    }

    .rightNav {
        width: 30%;
        text-align: right;
        padding: 0% 1%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .height-nav-resp{
        height:3rem;
    }
    .display-nav-resp{
        opacity: 0;
    }
    
}